/* app */
body{
	min-height:100vh;
	background: url('../images/paper.jpg') repeat;
}
.modal .modal-content{
	background: url('../images/header2.jpg') repeat;
}
.modal-body, .panel-body{
	background: url('../images/paper2.jpg') repeat;
}

.main-navbar{
  padding:0 0px !important;
  margin:0px !important;
  height:170px !important;
  margin-bottom:1em !important;
}
.btn-home{
  position:relative;
  top:-60px;
  display:inline-block !important;
  background-image: url('images/home.png') !important;
  background-repeat:no-repeat;
  background-position:  center;
  ิborder:none;
}
.btn-home:hover{
    filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -mos-filter: saturate(200%);
  -ms-filter: saturate(200%);
  -o: saturate(200%);
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -mos-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}
.main-navbar-body{
  padding:0 0px;
  margin:0px;
  height:100%;
  background: url('../images/main-header-l.png') no-repeat  !important;
  background-size:100%;
}
.main-navbar-mouse{
  position:absolute;
  padding:0 0px;
  margin:0px;
  left:120px;
  top:160px;
  width:274px; height:100px;
  background: url('../images/mouse.png') no-repeat  !important;
  background-size:100%;
}

.bg-header, .bg-footer{
    background: url('../images/header2.jpg') repeat;
}
.bg-content{
    background: url('../images/paper2.jpg') repeat;
     
}

.add-top-padding{
    padding-top:5em;
}
.panel-heading, .panel-footer{
	background: url('../images/header2.jpg') repeat !important;
}
.nav.navbar-nav a{
	font-weight:bold;font-size:1.2em;color:#010101; 
}

.nav.navbar-nav .active a:focus,.nav.navbar-nav a:hover{
  background:transparent none;
}
.input-group.date  input.date{
    background-color:#ffffff;
    cursor:default;
}
fieldset[disabled] .input-group.date  input.date{
    background-color:#eeeeee;
}
.text-checkout{
    text-decoration:line-through;
}
.text-warning{
    color:orangered !important;
}
.nav.navbar-nav .active a{
  font-size:1.2em;
  background:transparent none;
  box-shadow:none;
}
.nav.navbar-nav .active{
	background-color:transparent !important;
	border-bottom:solid rgb(66,133,244) 4px;
}


.modal-backdrop {opacity: 0.8;} 
.drop {padding: 15px;border: 2px #f1f1f1 dashed;border-radius: 5px;line-height: 34px;}
.drop.drag-over {background: #5CB85C;color: #fff;}

table[ng-table] tr.active td {
    background-color:rgba(81,170,81,0.4) !important;
}

.btn.btn-min{
    min-width:128px;
}
/* circle buttons */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
form.readonly.form input[readonly]:not([disabled]), form.readonly.form .form-control[readonly]:not([disabled]){
    background-color:#F9DADA;
}
form.readonly.form div.form-control.readonly  {
    background-color:#F9DADA;
}


/* ng table */

.ng-table th {text-align: left;}
.ng-table th.text-center {text-align:center;}
.ng-table th.text-right {text-align:right;}
.ng-table th.text-left {text-align:left;}
.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc {background-color:transparent;color:grey;}
.modal-backdrop {opacity: 0.5;}
.aside-backdrop {opacity: 0.5;}



.drop {
	padding: 15px;
	border: 2px #f1f1f1 dashed;
	border-radius: 5px;
	line-height: 34px;
}
.drop.drag-over {
	background: #5CB85C;
	color: #fff;
}

.text-red{
    color:red !important;
}
.text-blue{
    color:#0D4C83 !important;
}
		
/* line 7, ../ios-toggle.scss */
.ios-toggle {
  display: inline-block;
  vertical-align: middle;
}
/* line 11, ../ios-toggle.scss */
.ios-toggle > div {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  height: 35px;
  width: 59.23077px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  background-color: #fafafa;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -moz-box-shadow: inset 0 0 0 1px #d3d3d3;
  -webkit-box-shadow: inset 0 0 0 1px #d3d3d3;
  box-shadow: inset 0 0 0 1px #d3d3d3;
  -moz-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  -o-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  -webkit-transition: border 0.25s, box-shadow 0.25s, padding 0.25s;
  -webkit-transition-delay: 0.15s, 0.3s, 0s;
  transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
}
/* line 36, ../ios-toggle.scss */
.ios-toggle > div:after {
  content: '';
  display: block;
  height: 33px;
  position: absolute;
  left: 0;
  right: 22.23077px;
  top: 0;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  -moz-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  -moz-transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
  -o-transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
  -webkit-transition: border 0.25s, left 0.25s, right 0.15s;
  -webkit-transition-delay: 0.15s, 0.1s, 0.175s;
  transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
}
/* line 59, ../ios-toggle.scss */
.ios-toggle > div.coActive {
  border-color: #53d76a;
  -moz-box-shadow: inset 0 0 0 18.5px #53d76a;
  -webkit-box-shadow: inset 0 0 0 18.5px #53d76a;
  box-shadow: inset 0 0 0 18.5px #53d76a;
  -moz-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  -o-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  -webkit-transition: border 0.25s, box-shadow 0.25s, padding 0.25s;
  -webkit-transition-delay: 0s, 0s, 0.15s;
  transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
}
/* line 67, ../ios-toggle.scss */
.ios-toggle > div.coActive:after {
  border-color: #53d76a;
  left: 22.23077px;
  right: 0;
  -moz-transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
  -o-transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
  -webkit-transition: border 0.25s, left 0.15s, right 0.25s;
  -webkit-transition-delay: 0s, 0.25s, 0.175s;
  transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
}
.ios-toggle.disabled{
opacity:0.4;
}

.adon-label{
    min-width:100px;
}
.row-action {
    position: absolute;
    right: 18px;
}
.row-action2 {
    position: absolute;
    right:20px;
    font-size:1.2em;
    color:blue;
}

.text-required::after{
      color:red;
      padding-left:0.25em;
      font-weight:bolder;
       content: '*'; 
}

/*custom dropdown*/
.custom-dropdown ul.list-group .list-group-item.header{
    background-color:rgba(200, 200, 200,0.1);
}
.custom-dropdown ul.list-group li.list-group-item.header{
    border-color:rgba(100,100,100,0.1);
}
.custom-dropdown ul.list-group li.list-group-item.child{
    padding-left:2em;
}
.custom-dropdown ul.list-group li.list-group-item.child:nth-child(2n+1){
    background-color:#fefffe;
}
.custom-dropdown ul.list-group li.list-group-item.child.active{
    background:none;
    border-color:#fefefe;
    color:#fefefe;
    background-color:#58B358 !important;
}
.custom-dropdown span.badge.choice{
    background-color:rgba(0, 0, 0,0);
    color:#333333;
    font-size:1em;
    font-weight:normal;
    padding-left:1em;
    padding-right:1em;
    display:block;
    text-align:left;
}
.custom-dropdown[disabled] span.badge.choice{
    color:#777777;
}


.btn.btn-notify{
    display:inline-block;
    position:relative;
    margin-right:1.2em;
    height:2.5em;
}
.btn.btn-notify .notify{
    display:inline-block;
    padding-left:3px;
    padding-right:3px;
    min-width:2em;
    border-radius:32px 32px;
    color:white !important;
    color:white !important;
    background-color:#ff7e00 !important;
    font-size:1.2em;
    font-weight:bold;
    position:absolute;
    right:-1em;
    top:-1em;
}

table.table.table-hover thead th{
    text-align:center;
}
.label-mr{margin-right:4px !important}
.label-black{color:#000000 !important; background-color:#efefef !important; font-size:0.95em !important; white-space:normal !important}