/* app */
body{
	min-height:100vh;
	background: url('../images/paper.jpg') repeat;
}
.modal .modal-content{
	background: url('../images/header2.jpg') repeat;
}
.modal-body, .panel-body{
	background: url('../images/paper2.jpg') repeat;
}
#main-navbar{
	background: url('../images/header.jpg') repeat !important;
}

.panel-heading, .panel-footer{
	background: url('../images/header2.jpg') repeat !important;
}
.nav.navbar-nav a{
	font-weight:bold; 
}

.nav.navbar-nav .active a:focus,.nav.navbar-nav a:hover{
  background:transparent none;
}

.nav.navbar-nav .active a{
  font-size:1.2em;
  background:transparent none;
  box-shadow:none;
}
.nav.navbar-nav .active{
	background-color:transparent !important;
	border-bottom:solid rgb(66,133,244) 4px;
}
		.modal-backdrop {opacity: 0.8;} 
		.drop {padding: 15px;border: 2px #f1f1f1 dashed;border-radius: 5px;line-height: 34px;}
		.drop.drag-over {background: #5CB85C;color: #fff;}

table[ng-table] tr.active td {
    background-color:rgba(169,211,207,0.2) !important;
}

.btn.btn-min{
    min-width:128px;
}
/* circle buttons */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

form.readonly.form input[readonly]{
    background-color:#F9DADA;  
}

/* ng table */

			.ng-table th {text-align: left;}
			.ng-table th.text-center {text-align:center;}
			.ng-table th.text-right {text-align:right;}
			.ng-table th.text-left {text-align:left;}
			.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc {background-color:transparent;color:grey;}
			.modal-backdrop {opacity: 0.5;}
			.aside-backdrop {opacity: 0.5;}



			.drop {
				padding: 15px;
				border: 2px #f1f1f1 dashed;
				border-radius: 5px;
				line-height: 34px;
			}
			.drop.drag-over {
				background: #5CB85C;
				color: #fff;
			}
