

<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:0px;">
        <p class="text-center"><strong><big>รับรายงานคดี {{editingItem.user_id | lookup_court}}</big></strong></p>
    </div>

    <div class="panel-body" style="padding-bottom:0px;">

        <form class="form form-horizontal" name="form" style="padding-top:25px;padding-bottom:50px;">
            <fieldset>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขดำ</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_black}}">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขแดง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_red}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">โจทก์</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.plaintiff}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">จำเลย</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.defendant}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ประเภทคดี</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.type_id | lookup_type:'name':true}} - {{editingItem.type_id | lookup_type}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาสถิติ</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.topic_id | lookup_topic}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่รับฟ้อง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_case | thai_date}}" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาพิมพ์ปก</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.title}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ส่งศาล</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_sent | thai_date}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่ส่ง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_sent}}"></div>
                </div>
                <div class="row">
                   
                </div>
                <hr />  
                
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ผลการปฏิบัติ</label>
                    <div class="col-md-8">

                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.result" select-default ng-options="it.id as it.name for it  in Lookups.getResult()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-result" ng-click="popupResult()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">คำสั่ง อธ.</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.command_id" select-default ng-options="it.id as it.name for it  in Lookups.getAt()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-command" ng-click="popupCommand()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>
   
  
       
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่ภาครับหนังสือ</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.number_received">

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ภาครับหนังสือ</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_received" placeholder="ยังไม่มีข้อมูล" custom-date-field></span> 
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่หนังสือแจ้งรายงานคดี</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.number_sent4">

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ภาคส่งหนังสือ</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_sent4" placeholder="ยังไม่มีข้อมูล" custom-date-field></span>
                    </div>
                </div>
   
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" ng-click="saveForm(editingItem,1)"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" ng-click="goBack()"><span class="fa fa-close"></span> ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>





