


<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:0px;">
        <h2 class="text-center" style="margin-top:0px">ส่งสำนวนกลับ {{editingItem.user_id | lookup_court}}</h2>
    </div>

    <div class="panel-body" style="padding-bottom:0px;">

        <form class="form form-horizontal readonly" name="form" style="padding-top:25px;padding-bottom:50px;">
            <fieldset>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขดำ</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_black}}">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขแดง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_red}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">โจทก์</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.plaintiff}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">จำเลย</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.defendant}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ประเภทคดี</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.type_id | lookup_type:'name':true}} - {{editingItem.type_id | lookup_type}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาสถิติ</label>
                    <div class="col-md-8">
                        <custom-readonly-topics ng-model="editingItem.topic_ids"></custom-readonly-topics>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่รับฟ้อง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_case | thai_date}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาพิมพ์ปก</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.title}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ส่งศาลส่งสำนวน</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_sent | thai_date}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่ส่งสำนวนของศาล</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_sent}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ชื่อผู้พิพากษาเจ้าของสำนวน</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.judge_id | lookup_judge}}">
                    </div>
                </div>
                <div class="row clearfix"></div>
                <hr />
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ชื่อผู้พิพากษาผู้ตรวจ</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.judge2_id" select-default ng-options="it.id as it.name for it  in Lookups.getJudge2()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-result" ng-click="popupJudge()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ภาครับร่างคำพิพากษาที่ตรวจแล้วเสร็จ</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_received4" placeholder="ยังไม่มีข้อมูล" custom-date-field></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ชื่อผู้พิพากษาผู้ตรวจ2</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control input-md"  name="role" ng-model="editingItem.judge4_id" select-default ng-options="it.id as it.name for it  in Lookups.getJudge2()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-judge" ng-click="popupJudge()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>
           
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่รับของภาค</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-md" ng-model="editingItem.number_received4">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ผลการปฏิบัติ</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.result" select-default ng-options="it.id as it.name for it  in Lookups.getResult()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-result" ng-click="popupResult()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>
               
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" ng-click="saveForm(editingItem,3)"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" ng-click="goBack()"><span class="fa fa-close"></span> ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>

