
<script type="text/ng-template" id="custom.form.users.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-show="title">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-windows"></span> <span ng-bind="title"></span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="form">
                        <fieldset>
                            <div class="form-group">

                                <!-- Text input-->
                                <label class="col-md-4 control-label">ชื่อ</label>
                                <div class="col-md-7">
                                    <input type="text" name="name" placeholder="ยังไม่มีข้อมูล" required ng-model="editingItem.name" class="form-control input-md">
                                    <p class="help-block has-error" ng-show="form.name.$error.required">ต้องกำหนดชื่อ</p>
                                </div>
                            </div>
                            <div class="form-group" ng-show="editingItem.admin=='0' && editingItem.parent_id=='0'">
                                <label class="col-md-4 control-label">กลุ่มศาล</label>
                                <div class="col-md-7">
                                    <select class="form-control input-md" name="usergroup_id" validate-not-empty ng-model="editingItem.usergroup_id" select-value-type="string" ng-options="it.id as it.name for it in Lookups.getUGroup()">
                                        <option value=""></option>
                                    </select>
                                    <p class="help-block text-danger" ng-show="form.usergroup_id.$error.required">ต้องกำหนดกลุ่ม</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Select Basic -->
                                <label class="col-md-4 control-label">สิทธิการใช้</label>
                                <div class="col-md-7">
                                    <select class="form-control input-md" name="role" ng-model="editingItem.admin" validate-not-empty select-value-type="string" ng-options="it.id as it.name for it in Lookups.getRole()">
                                        <option value=""></option> 
                                    </select>
                                    <p class="help-block text-danger" ng-show="form.role.$error.required">ต้องกำหนดสิทธิการใช้งาน</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="editingItem.admin > 1">
                                <!-- Text input-->
                                <label class=" col-md-4 control-label">
                                ตำแหน่ง</label>
                                <div class="col-md-7">
                                    <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.position">

                                </div>
                            </div>
                            <div class="form-group" ng-if="editingItem.admin > 1 && $root.isAdmin()">
                                <!-- Select Basic -->
                                <label class="col-md-4 control-label">ศาล</label>
                                <div class="col-md-7">
                                    <select class="form-control input-md" ng-model="editingItem.parent_id" select-value-type="string" ng-options="it.id as it.name for it in Lookups.getCourt()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-md-4 control-label">ชื่อผู้ใช้</label>
                                <div class="col-md-7">
                                    <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.account">
           
                                </div>
                            </div>
                            <div class="form-group">

                                <!-- Text input-->
                                <label class="col-md-4 control-label">รหัสผ่าน</label>
                                <div class="col-md-7">
                                    <input type="text" placeholder="ยังไม่ได้ตั้งรหัสผ่าน" class="form-control input-md" ng-model="editingItem.password">
                 
                                </div>
                            </div>


                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-min" ng-disabled="!editingItem.name" ng-click="saveForm()"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                    <button type="button" class="btn btn-warning btn-min" ng-click="cancelForm()"><span class="fa fa-close"></span> ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</script>




<div class="container-fluid">

    <p>
        <div class="panel panel-default" ng-controller="CustomTableCtrl" ng-init="searchCourt='';searchRole='';setAPI('users','custom.form.users.html',{search:'searchText', parent_id:'searchCourt',admin:'searchRole'})">
            <div class="panel-heading">
                <div class="text-left pull-left">
                    <h2 style="padding:0px;margin:0px;"><span class="fa fa-windows"></span> ผู้ใช้ ({{tableParams.total()}})</h2>
                </div>
<p class="text-right">
                    <button ng-click="newItem()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> เพิ่มข้อมูล</button>
                    <button ng-click="editItem()" ng-show="hasSelected()" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> แก้เขข้อมูล</button>
                    <button data-placement="bottom"  data-trigger="click" bspopover data-template="custom.confirm.popover.html"
                            ng-click="removeItem()" ng-show="hasSelected()" class="btn btn-danger" data-auto-close="true">
                        <span class="glyphicon glyphicon-remove"></span> ลบข้อมูล
                    </button>
                    <button ng-click="refresh()" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> โหลดข้อมูล</button>
                </p>
            </div>
            <style>
                .adon-label { width:150px; text-align:'right'}
            </style>
            <div class="panel-body" style="padding-bottom:0px;">
                <div loading-container="tableParams.settings().$loading">
                   
                    <div class="input-group col-md-6 col-md-offset-3">
                        <div class="input-group-addon  adon-label">ศาล</div>

                        <select class="form-control" ng-model="searchCourt" ng-change="setFilter()"  select-value-type="string" ng-options="it.id as it.name for it in Lookups.getCourt()"><option value="">ทั้งหมด</option></select>
                        <div class="input-group-addon btn btn-default" ng-click="setFilter()"  title="เริ่มค้นหา"><span class="glyphicon glyphicon-filter"></span></div>
                    </div>
                    <div class="input-group col-md-6 col-md-offset-3">
                        <div class="input-group-addon adon-label">สิทธิ</div>

                        <select class="form-control" ng-model="searchRole" ng-change="setFilter()" select-value-type="string" ng-options="it.id as it.name for it in Lookups.getRole()"><option value="">ทั้งหมด</option></select>
                        <div class="input-group-addon btn btn-default" ng-click="setFilter()"  title="เริ่มค้นหา"><span class="glyphicon glyphicon-filter"></span></div>
                    </div>
                   
                    <div class="input-group col-md-6 col-md-offset-3">
                        <div class="input-group-addon adon-label">ค้นหาชื่อ</div>
                        <input type="text" class="form-control" ng-model="searchText" ng-enter="setFilter()" placeholder="{{(lastSearchText)?lastSearchText:'ชื่อที่ต้องการค้นหา'}}" />
                        <div ng-if="!lastSearchText"  class="input-group-addon btn btn-default" ng-click="setFilter()" ng-disabled="!searchText" title="เริ่มค้นหา"><span class="glyphicon glyphicon-search"></span></div>
                        <div ng-if="lastSearchText" class="input-group-addon btn btn-default" ng-click="clearFilter()" title="เลิกค้นหา"><span class="glyphicon glyphicon-remove"></span></div>

                    </div>
                    <hr/>
                    <table ng-table="tableParams" show-filter="false" class="table table-hover">
                        <tbody>

                            <tr ng-repeat="it in $data"
                                ng-click="selectRow(it);"
                                ng-dblclick="editItem()"
                                ng-class="{'active': isSelected(it),'text-checkout': it.check_out==1,'text-warning': it.check_out==1}">
                                <td width="30" class="text-right text-muted">{{startIdx + $index + 1}}.</td>
      
                                <td data-title="'ชื่อผู้ใช้'" sortable="'name'" >
                                    {{it.name}}
                                </td>
                                <td data-title="'ศาล'" sortable="'parent_id'">
                                    {{it.parent_id | lookup_court}} 
                                </td>
                                <td data-title="'สิทธิ'" sortable="'admin'" class="text-center" header-class="'text-center'">
                                    {{it.admin | lookup_role}} <span ng-if="isSelected(it)" class="pull-right glyphicon glyphicon-asterisk"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>

            </div>

        </div>
    </div>
</p>
<div>


