<h1 class="page-header text-center">
รายงาน
</h1>


<div class="row">
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report4">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานการส่งสำนวนเพื่อตรวจร่างคำพิพากษาประจำวัน</h4>
            </a>
      </div>
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report5">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานข้อมูลการส่งสำนวนและร่างคำพิพากษา<br>ของศาลในภาค 5 (ประจำเดือน)</h4>
            </a>
      </div>
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report6">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">สรุปการส่งสำนวนและร่างคำพิพากษา<br>ศาลในภาค 5(ประจำเดือน)</h4>
            </a>
      </div>
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report7">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานสำนวนที่ไม่ได้ส่งสำเนาคำพิพากษา</h4>
            </a>
      </div>      
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report8">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานคดีที่ไม่ได้ส่งสำนวน</h4>
            </a>
      </div>           
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report11">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานระยะเวลาการตรวจสำนวนและร่างคำพิพากษา</h4>
            </a>
      </div>           
      <div class="col-md-6 col-lg-4">
            <a href="#admin/reports/report12">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">สำนวนคดีส่งตรวจที่ไม่เป็นไปตามระเบียบว่าด้วยการตรวจสำนวนและรายงานคดี
</h4>
            </a>
      </div>           
        <div class="col-md-6 col-lg-4">
            <a href="#admin/menu">
                <h1 class="text-center">	
                    <span class="glyphicon glyphicon-th-large"></span>
                </h1>
                <h4 class="text-center text-primary">เมนูหลัก</h4>
            </a>
        </div>
</div>

