<div ng-controller="Report4Ctrl">
    <div class="hidden-print" style="max-width:1200px;margin:30px auto;padding:10px;border:1px solid #ddd;border-radius:5px;">
        <div class="container-fluid">

            <div class="page-header text-center">
                <h2 class="text-info">แบบแสดงจำนวนรายงานคดีที่จัดส่งสำนักงานอธิบดีผู้พิพากษาภาค ๕</h2>
            </div>


            <div class="well">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"><label>ศาล</label><select ng-change="changeReport()" class="form-control" ng-model="report_court"><option value=""></option><option ng-repeat="it in users" ng-selected="report_court==it.id" value="{{it.id}}">{{it.name}}</option></select></div>
                    </div>
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>ตั้งแต่เดือน</label>
                            <div ui-date-field min-view-mode="1" ng-change="changeReport()" ng-model="report_month" style="width:100%"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="from-group">
                            <label>ถึงเดือน</label>
                            <div ui-date-field min-view-mode="1" ng-change="changeReport()" ng-model="report_month2" style="width:100%"></div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <label style="display:block">&nbsp;</label>
                        <button class="btn btn-primary" ng-show="ready" ng-click="genReport()">แสดงรายงาน</button>


                    </div>
                </div>

            </div>
        </div>
    </div>


        <div class="reportform noframe" ng-if="ready">
            <div class="container-fluid">

                <p class="hidden-print text-right">
                    <button class="btn btn-success" title="พิมพ์รายงาน" ng-click="print()"><i class="glyphicon glyphicon-print"></i></button>
                </p>
                <h4>
                    <p class="text-center">
                        แบบแสดงจำนวนรายงานคดีที่จัดส่งสำนักงานอธิบดีผู้พิพากษาภาค ๕<br />
                        ระหว่างเดือน  xxx  พ.ศ.  xxx -   xxx  พ.ศ.  xxx<br />
                        xxxxxxxxxx
                    </p>
                </h4>

                <table class="table table-bordered" style="margin-top:1cm">
                    <tr>
                        <th>ลำดับที่</th>
                        <th>เลชคดีดำ</th>
                        <th>โจทก์</th>
                        <th>จำเลย</th>
                        <th>ข้อหา</th>
                        <th>ตรวจ/ไม่ตรวจ</th>
                    </tr>
                    <tr>
                        <td>ลำดับที่</td>
                        <td>เลชคดีดำ</td>
                        <td>โจทก์</td>
                        <td>จำเลย</td>
                        <td>ของหา</td>
                        <td>ตรวจ/ไม่ตรวจ</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <table class="table sumary">
                            <tr>
                                <td>รวมทั้งหมด</td>
                                <td class="text-center">xx</td>
                                <td>คดี</td>
                            </tr>
                            <tr>
                                <td>ตรวจ</td>
                                <td class="text-center">xx</td>
                                <td>คดี</td>
                            </tr>
                            <tr>
                                <td>ไม่ตรวจ</td>
                                <td class="text-center">xx</td>
                                <td>คดี</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <p class="text-right" style="margin-top:2cm">
                    <strong>หมายเหตุ:</strong> คดีนับตั้งแต่วันที่ภาครับหนังสือรายงานคดีจากศาล
                </p>

            </div>
        </div>
    </div>
</div>