<div class="row" ng-controller="PrintReportCtrl">

		    	<h2 class="text-primary"><span class="glyphicon glyphicon-cog"></span> ตั้งค่ารายงาน</h2>
		    	<h4 class="text-info">บัญชีรายละเอียดสำนวนที่ไม่ได้ส่งสำเนาคำพิพากษาให้สำนักงานอธิบดีผู้พิพากษาภาค 5</h4>
<br>
              <form cutom-form name="frm_report" method="post" action="reports/report8.php" target="_blank">
                  <input type="hidden" name="date1" value="{{options.date_from}}">
                  <input type="hidden" name="type_id" value="{{options.type_id}}">
                  <input type="hidden" name="user_id" value="{{options.user_id}}">
                  <div class="form-group">
                      <label class="control-label">ประเภทคดี</label>
                      <select class="form-control" ng-model="options.type_id" select-value-type="string" ng-options="it.id as it.name group by toGroupName(it.group_id) for it in Lookups.getType() ">
                          <option value="">-- ทุกประเภทคดี --</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label class="control-label">ศาล</label>
                      <select class="form-control" ng-model="options.user_id" select-value-type="string" ng-options="it.id as it.name  for it in Lookups.getCourt() "></select>
                  </div>	
                  <label>คดีเกิดในปี</label>
                  <div class="row">
                      <div class="col-md-12">
                          <span mode="2" ng-model="options.date_from" placeholder="ปี" custom-date-field></span>
                      </div>
                  </div>
                  <hr>
                  <div class="col-md-6 col-md-offset-3">
                      <button class="btn btn-primary btn-block" ng-disabled="!(options.date_from && options.user_id)"><span class="glyphicon glyphicon-print"></span> สร้างรายงาน</button>
                  </div>
              </form>

<div>