<style>
	table tr td{
		vertical-align:middle;
	}
</style>


<div ng-controller="AdminReportCtrl as xctrl" data-prefix="a2">
    <div ui-view></div>
    <div  ng-hide="!(urlEq('/admin/vcases') || urlEq('/admin/vcases/notify') || urlEq('/admin/vcases/notify2'))">
        <div class="panel panel-default" ng-controller="CustomTableCtrl as cmt" ng-init="$parent.cmt=cmt;setAPI('admin_cases','custom.admin.form1.html',{date_received:'searchDate',_view:'_view()',type_id:'searchType'})">
            <div class="panel-heading">

                <span class="text-right pull-right" style="position:relative;top:-0.25em">
                    <span class="btn btn-notify btn-danger" ng-click="notify3()">สำนวนค้างส่ง (ทบทวนร่างฯ)<span class="notify">{{TableMeta.notsent3 || 0}}</span></span>
                    <span class="btn btn-notify btn-success" ng-click="notify2()" style="margin-right:4em">สำนวนยังไม่ได้ส่งคืนศาล<span class="notify">{{TableMeta.notsent2 || 0}}</span></span>
                    
                    <span ng-hide="urlEq('/admin/vcases/notify')">
                        <button class="btn btn-success" ng-show="isSearchMode()" ng-click="setFilter()">
                            <span class="glyphicon glyphicon-arrow-left"></span> ออกจากโหมดการค้นหา
                        </button>
                        <button class="btn btn-info" ng-click="advancedSearch('custom.cases.search.html',{_view:true})">
                            <span class="glyphicon glyphicon-search"></span> ค้นหา
                        </button>
                    </span>
                    <button data-animation="am-flip-x" bs-dropdown class="btn btn-primary"><span class="glyphicon glyphicon-briefcase"></span><span class="hidden-sm hidden-xs"> คดี (ไม่ได้ส่งรายงานคดี)</span></button>
                    <ul class="dropdown-menu" role="menu" style="max-width:220px">

                            <li><a href="javascript:void(0)" ng-click="newItem({date_sent:today(),no_case_sent:1,user_id:searchCourt},'custom.court.form2.html')"><span class="glyphicon glyphicon-plus"></span><span class="hidden-sm hidden-xs"> เพิ่มคดี</span></a></li>
                            <li ng-class="{disabled:!(($it.no_case_sent=='1') && hasSelected())}"><a href="javascript:void(0)" ng-disabled="!(($it.no_case_sent=='1') && hasSelected())" ng-click="ifcall(($it.no_case_sent!='1'),editItem('custom.court.form2.html'))"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-sm hidden-xs"> แก้ไขคดี</span></a></li>
                            <li ng-class="{disabled:!(($it.no_case_sent=='1') && hasSelected())}">
                                <a href="javascript:void(0)" ng-disabled="!(($it.no_case_sent=='1') && hasSelected())" data-placement="bottom" data-trigger="click" bs-popover data-template="custom.confirm.popover.html"
                                   ng-click="removeItem()" data-auto-close="true">
                                    <span class="glyphicon glyphicon-remove"></span><span class="hidden-sm hidden-xs"> ลบคดี</span>
                                </a>
                            </li>

                    </ul>
                    <button class="btn btn-success" data-placement="left" data-trigger="click" bs-popover data-template="admin.vcases.reports.html" data-auto-close="true">
                        <span class="glyphicon glyphicon-print"></span> พิมพ์รายงานสำนวน
                    </button>
                </span>


            <h2 style="padding:0px;margin:0px;"><span class="fa fa-windows"></span> ส่งสำนวน ({{tableParams.total()}})</h2>
            </div>
            <div class="panel-body" style="padding-bottom:0px;">

                <div loading-container="tableParams.settings().$loading">
                    <div ng-show="!(isSearchMode() || urlEq('/admin/vcases/notify'))">
                        <div class="input-group col-md-10 col-md-offset-1">
                            
                            <div class="input-group-addon"><strong>ประเภทคดี</strong></div>
                            <select class="form-control" style="min-width:450px" ng-model="searchType" ng-change="setTypeId(searchType);setFilter()" select-value-type="string" ng-options="it.id as it.id | lookup_type:'name':'code'  for it in Lookups.getType()"><option value="">ทั้งหมด</option></select>
                            <div class="input-group-addon"><strong>วันที่ภาครับสำนวนคำพิพากษา</strong></div>
                            <div mode="0" ng-model="searchDate" ng-change="setDateId(searchDate);setFilter()" placeholder="แสดงคดีที่รับสำนวนวันที่่" custom-date-field></div>

                            <!--
                            <div class="input-group-addon btn btn-default" ng-click="setFilter(true)" title="เริ่มค้นหา"><span class="glyphicon glyphicon-refresh"></span></div>
                                -->
                        </div>
                        <hr />
                    </div>
                    <div ng-table-menu="tableParams"></div>
                    <table ng-table-resizable ng-table="tableParams" ng-table-init ng-table-init-columns wt-responsive-table  ng-init="tableParams.not_found='ไม่ได้ส่งรายงานคดี'" show-filter="false" class="table table-hover table-bordered">
                        <tbody>
                            <tr ng-repeat="it in $data"
                                ng-click="selectRow(it);"
                                ng-init="it._days=date_diff(it.date_ap, it.date_received3)"
                                ng-class="{'active': isSelected(it),'text-red':it.no_case_sent=='1'}">
                                <td width="30" class="text-right text-muted"><span title="#{{it.id}}">{{startIdx + $index + 1}}.</span></td>
                                <td data-title="'เลขรับสำนวนของภาค'" sortable="'auto_received_num'">
                                    {{it.auto_received_num}}
                                </td>
                                <td data-title="'เลขคดีดำ'" sortable="'number_black'">
                                    {{it.number_black}}
                                </td>
                                <td data-title="'ศาล'" sortable="'user_id'">
                                    {{it.user_id | lookup_court}}
                                </td>
                                <td data-title="'เลขคดีแดง'" sortable="'number_red'">
                                    {{it.number_red}}
                                </td>
                                <td data-title="'โจทก์'" sortable="'plaintiff'">
                                    {{it.plaintiff}}
                                </td>
                                <td data-title="'จำเลย'" sortable="'defendant'">
                                    {{it.defendant}}
                                </td>
                                <td data-title="'รองอธิบดี'" sortable="'judge2_id'"  hide>
                                    {{it.judge2_id | lookup_judge}}
                                </td>
                                <td data-title="'หน.ภาค'" sortable="'judge4_id'"  hide>
                                    {{it.judge4_id | lookup_judge}}
                                </td>
                                <td data-title="'ข้อหาสถิติ'" sortable="'topic_ids'">
                                    {{it.topic_ids | lookup_topic}}
                                </td>
                                <td data-title="'วันที่ส่งสำนวน'" sortable="'date_sent2'">
                                    {{it.date_sent2 | thai_date:'short'}}
                                </td>
                                <td data-title="'วันที่ภาครับสำนวน'" sortable="'date_received3'">
                                    {{it.date_received3 | thai_date:'short'}}
                                </td>
                                <td data-title="'วันที่ภาคส่งสำนวนกลับ'" sortable="'date_sent5'"  hide>
                                    {{it.date_sent5 | thai_date:'short'}}
                                </td>
                                <td data-title="'นัดฟังคำพิพากษา'" sortable="'date_ap'">
                                    {{it.date_ap | thai_date:'short'}}
                                </td>
                                <td data-title="'วันที่ อธ.จ่าย/หน.ภาครับสนำนวน'" sortable="'date_at_received1'" hide>
                                    {{it.date_at_received1 | thai_date:'short'}}
                                </td>
                                <td data-title="'วันที่รอง อธ.รับสำนวน'" sortable="'date_at_received2'" hide>
                                    {{it.date_at_received2 | thai_date:'short'}}
                                </td>
                                <td data-title="'ผลการปฏิบัติ'" sortable="'result'" hide>
                                    {{it.result | lookup_result}}
                                </td>
                                <td data-title="'ส่งตามกำหนด(ก่อน '+BDAYS+' วัน)'" class="text-center" >
                                    <span ng-if="it._days<BDAYS && it.date_ap && it.date_received3">ช้า ({{it._days | math_abs}} วัน)</span>
                                    <span ng-if="it._days>=BDAYS">ไม่ช้า ({{it._days}}) วัน</span>
                                    <span ng-if="isSelected(it)" class="row-action">
                                        <button class="btn btn-success btn-circle btn-xs" data-placement="left" data-trigger="click" bs-popover data-template="custom.confirm.admin.actions2.html"
                                                data-auto-close="true">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>



