

<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:0px;">
        <h2 class="text-center" style="margin-top:0px">รายงานคดี {{editingItem.user_id | lookup_court}}</h2>
    </div>

    <div class="panel-body" style="padding-bottom:0px;">

        <form class="form form-horizontal readonly" name="form" style="padding-top:25px;padding-bottom:50px;">
            <fieldset>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขดำ</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_black}}">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขแดง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_red}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">โจทก์</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.plaintiff}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">จำเลย</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.defendant}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ประเภทคดี</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.type_id | lookup_type:'name':true}} - {{editingItem.type_id | lookup_type}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาสถิติ</label>
                    <div class="col-md-8">
                        <custom-readonly-topics ng-model="editingItem.topic_ids"></custom-readonly-topics>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่รับฟ้อง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_case | thai_date}}" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาพิมพ์ปก</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.title}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ส่งศาล</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_sent | thai_date}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่ส่ง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_sent}}"></div>
                </div>
                <div class="row">
                   
                </div>
                <hr />  
                <div ng-if="editingItem.auto_received_num">
                    <div class="col-md-4 col-md-offset-4">
                        <h3>เลขรับสำนวน <span class="glyphicon glyphicon-paperclip"></span> {{editingItem.auto_received_num}}</h3>
                    </div>
                    <div class="row clearfix"></div>
                    <hr />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">สำนวนพ่วง</label>
                    <div class="col-md-8">
                         <div class="input-group">
                             <div class="input-group-addon"  style="background-color:#F9DADA"><input type="checkbox" ng-model="editingItem.link_checked" ng-true-value="'1'" ng-false-value="'0'"  disabled/></div>
                             <input type="text" readonly  class="form-control" ng-model="editingItem.link_ids" placeholder="ไม่มีสำนวนพ่วง" />
                         </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">สำนวนรวม</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon" style="background-color:#F9DADA"><input type="checkbox" ng-model="editingItem.add_checked" ng-true-value="'1'" ng-false-value="'0'" disabled/></div>
                            <p type="text" class="form-control" style="background-color:#F9DADA">
                                <span  class="label label-mr label-black" ng-repeat="key in editingItem.add_ids |split">{{key}}</span>
                                <span ng-if="!editingItem.add_ids" class="text-muted">ไม่มีสำนวนรวม</span>
                            </p>
                        </div>
                    </div>
                </div>                  
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ผลการปฏิบัติ</label>
                    <div class="col-md-8">

                            <select class="form-control input-md" name="role" ng-model="editingItem.result" select-default ng-options="it.id as it.name for it  in Lookups.getResult()">
                                <option value=""></option>
                            </select>
       

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">คำสั่ง อธ.</label>
                    <div class="col-md-8">
                        
                            <select class="form-control input-md" name="role" ng-model="editingItem.command_id" select-default ng-options="it.id as it.id | lookup_at group by it.checked |iif:'1':'ตรวจ':'ไม่ตรวจ' for it  in Lookups.getAt()">
                                <option value=""></option>
                            </select>

  
                        <div ng-if="(editingItem.command_id | lookup_at:'checked')=='1'">
                            <label class="checkbox text-muted" style="padding-left:20px">
                                <input type="checkbox" ng-model="editingItem.at_correct" disabled ng-true-value="'0'" ng-false-value="'1'">  ไม่ถูกต้องตามระเบียบ
                            </label>
                            <div ng-if="editingItem.at_correct=='0'">
                                <label style="padding-top:0.5em">เหตุผล</label>
                                <div class="input-group">
                                    <select class="form-control input-md" disabled name="role" ng-model="editingItem.at_result_id" select-default ng-options="it.id as it.id | lookup_at_result  for it  in Lookups.getAtResult()">
                                        <option value=""></option>
                                    </select>
                                    <span class="input-group-addon btn" id="add-at-result" xxng-click="popupAtResult()"><span class="glyphicon glyphicon-plus"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
  
       
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่ภาครับหนังสือ</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.number_received">

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ภาครับหนังสือ</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_received" placeholder="ยังไม่มีข้อมูล" custom-date-field></span> 
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขที่หนังสือแจ้งรายงานคดี</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.number_sent4">

                    </div>
                </div>
                
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่ภาคส่งหนังสือ</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_sent4" placeholder="ยังไม่มีข้อมูล" custom-date-field></span>
                    </div>
                </div>
    
                <div class="col-md-12" style="margin-top:2em">
                    <label class="control-label col-md-2" style="padding-right:3em">หมายเหตุ</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" ng-model="editingItem.form1_note"></textarea>
                    </div>
                 </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" ng-click="saveForm(editingItem,1)"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" ng-click="goBack()"><span class="fa fa-close"></span> ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>





