<h1 class="page-header">
    Settings
</h1>

<ul class="list-group">
    <li class="list-group-item">
        <div class="input-group pull-right" style="max-width:180px;margin-top:0.2em">
            <div ios-toggle ng-model="switch1" ng-true-value="'1'" ng-false-value="'0'"></div>
        </div>
        <h4><span class="glyphicon glyphicon-menu-right"></span> เปิดการใช้งาน xxxx1</h4>
    </li>
    <li class="list-group-item">
        <div class="input-group pull-right" style="max-width:180px;margin-top:0.2em">
            <div ios-toggle ng-model="switch2" ng-true-value="'1'" ng-false-value="'0'"></div>
        </div>
        <h4><span class="glyphicon glyphicon-menu-right"></span> เปิดการใช้งาน xxxx2</h4>
    </li>
    <li class="list-group-item">
        <div class="input-group pull-right" style="max-width:180px;margin-top:0.2em">
            <span class="input-group-addon">ก่อน</span>
            <input type="number" class="form-control" />
            <span class="input-group-addon">วัน</span>
        </div>
        
        <h4><span class="glyphicon glyphicon-menu-right"></span> กำหนดวันที่่ต้องส่งสำนวนก่อนวันอ่านคำพิพากษา</h4>
    </li>

</ul>