<h1 class="page-header text-center">
เตรียมข้อมูล
</h1>

<div class="row">
      <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/users">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
                <h4 class="text-center text-primary">ผู้ใช้</h4>
            </a>
      </div>
      <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/types">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-briefcase"></span>
                </h1>
                <h4 class="text-center text-primary">ประเภทคดี</h4>
            </a>
       </div>
       <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/topics">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-tasks"></span>
                </h1>
                <h4 class="text-center text-primary">ข้อหา</h4>
            </a>
        </div>
        <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/results">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-check"></span>
                </h1>
                <h4 class="text-center text-primary">ผลการปฏิบัติ</h4>
            </a>
        </div>
        <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/ats">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-share"></span>
                </h1>
                <h4 class="text-center text-primary">คำสั่ง อ.ธ</h4>
            </a>
        </div>
        <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/at_results">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-share"></span>
                </h1>
                <h4 class="text-center text-primary">เหตุผลไม่ตามระเบียบ</h4>
            </a>
        </div>
        <div class="col-md-4 col-lg-3">
            <a href="#admin/manages/settings">
                <h1 class="text-center">	
                    <span class="glyphicon glyphicon-cog"></span>
                </h1>
                <h4 class="text-center text-primary">ตั้งค่าระบบ</h4>
            </a>
        </div>
        <div class="col-md-4 col-lg-3">
            <a href="#admin/menu">
                <h1 class="text-center">	
                    <span class="glyphicon glyphicon-th-large"></span>
                </h1>
                <h4 class="text-center text-primary">เมนูหลัก</h4>
            </a>
        </div>
</div>

