<h1 class="page-header text-center">
เตรียมข้อมูล
</h1>

<div class="row">
      <div class="col-md-4 col-lg-3">
            <a href="#court/manages/users">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
                <h4 class="text-center text-primary">ผู้ใช้</h4>
            </a>
      </div>
        <div class="col-md-4 col-lg-3">
            <a href="#court/menu">
                <h1 class="text-center">	
                    <span class="glyphicon glyphicon-th-large"></span>
                </h1>
                <h4 class="text-center text-primary">เมนูหลัก</h4>
            </a>
        </div>
</div>

