<style>
	table tr td{
		vertical-align:middle;
	}
</style>

<script type="text/ng-template" id="popup.black_number.tpl.html">
    <div class="popover" style="min-width:350px;max-width:80%">
        <div class="arrow"></div>
        <div class="popover-title">
            <button type="button" title="Close" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
            <h4><i class="glyphicon glyphicon-tasks"></i> ป้อนเลขคดี</h4>
        </div>
        <div class="popover-content">
            <form class="xform" style="padding:10px; max-width:400px">
                <div class="form-group">
                    <label class="control-label">เลขคดีดำ</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{editingItem.type_id | lookup_type:'code'}}</span>
                        <input type="text" placeholder="เลขคดีเช่น 823" class="form-control" ng-model="temp.number_black">
                        <span class="input-group-addon">/</span>
                        <input type="text" placeholder="ปีเช่น 2558" class="form-control" ng-model="temp.year" bs-options="year for year in years" bs-typeahead>
                    </div>
                    

                    <p class="text-center text-primary" style="margin-top:2em">
                        ตัวอย่างเลขที่ได้:
                        <h3 class="text-center text-primary">
                            {{editingItem.type_id | lookup_type:'code'}}{{temp.number_black}}<span ng-show="temp.year">/</span>{{temp.year}}
                        </h3>
                    </p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-disabled="!(temp.year && temp.number_black)" ng-click="setBlackNumber(temp);$hide()"><span class="glyphicon glyphicon-ok-sign"></span> ตกลง</button>
            <button type="button" class="btn btn-warning" ng-click="$hide()"><span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก</button>
        </div>
    </div>
</script>

    <script type="text/ng-template" id="custom.court.form1.html">
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:95%;">
                <div class="modal-content">
                    <div class="modal-header" ng-show="title">

                        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span class="fa fa-windows"></span> <span ng-bind="title"></span></h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" name="form">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">

                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">วันที่ส่ง</label>
                                        <div class="col-md-7">
                                            <span mode="0" ng-model="editingItem.date_sent" placeholder="ยังไม่มีข้อมูล" custom-date-field></span>

                                        </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <!-- Text input-->
                                        <label class=" col-md-4 control-label">เลขที่หนังสือส่ง</label>
                                        <div class="col-md-7">
                                            <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.number_sent">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">

                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">วันที่รับฟ้อง</label>
                                        <div class="col-md-7">
                                            <span mode="0" ng-model="editingItem.date_case" placeholder="ยังไม่มีข้อมูล" custom-date-field></span>

                                        </div>
                                    </div>
                                </div>
                                <style>
                                    .bnl {
                                        border-left: none;
                                    }

                                    .bnr {
                                        border-right: none;
                                    }
                                </style>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">ประเภทคดี</label>
                                        <div class="col-md-7">
                                            <select ng-change="changeTypeId(editingItem)" ng-disabled="editingItem.id && editingItem.number_black" class="form-control input-md" name="role" ng-model="editingItem.type_id" select-default ng-options="it.id as it.id | lookup_type:'name':'code' group by it.group_id | lookup_group for it  in Lookups.getType()">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">

                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">เลขคดีดำ</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" style="background-color:#ffffff" readonly value="{{editingItem.number_black}}">
                                                <span  title="ป้อนเลขคดี" id="edit-blacknum" ng-click="popupBlackNumber(editingItem)" ng-disabled="!editingItem.type_id" class="btn input-group-addon"><span class="glyphicon glyphicon-pencil"></span> ป้อนเลขคดี</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">

                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">โจทก์</label>
                                        <div class="col-md-7">
                                            <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.plaintiff">

                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">

                                        <!-- Text input-->
                                        <label class="col-md-4 control-label">จำเลย</label>
                                        <div class="col-md-7">
                                            <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.defendant">

                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="form-group">

                                    <!-- Text input-->
                                    <label class="col-md-2 control-label">ข้อหาหลัก</label>
                                    <div class="col-md-9">
                                        <select class="form-control input-md" name="role" ng-model="editingItem.topic_id" select-default ng-options="it.id as it.name group by it.type_id|lookup_type for it  in Lookups.getTopicByType(editingItem.type_id)">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">

                                    <!-- Text input-->
                                    <label class="col-md-2 control-label">ข้อหารอง</label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.title">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Text input-->
                                    <label class="col-md-2 control-label">หมายเหตุ</label>
                                    <div class="col-md-9">
                                        <textarea type="text" rows="3" placeholder="ยังไม่มีข้อมูล" class="form-control input-md" ng-model="editingItem.note1"></textarea>
                                    </div>
                                </div>


                            </fieldset>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-min" ng-click="saveForm()"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                        <button type="button" class="btn btn-warning btn-min" ng-click="cancelForm()"><span class="fa fa-close"></span> ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="custom.confirm.court.report.html">
        <div class="popover">
            <div class="arrow"></div>
            <h3 class="popover-title"><span class="glyphicon glyphicon-share"><span> <strong>เลือกทำรายการ</strong></h3>
            <div class="popover-content">
                <p class="text-center">
                    <button type="button" class="btn btn-success btn-block" ng-click="go('court.cases.form1',$it);$hide()"><div class="text-left"><span class="badge">1</span> ส่งสำนวนเพื่อตรวจร่าง</div></button>
                    <button type="button" class="btn btn-success btn-block" ng-click="go('court.cases.form2',$it);$hide()"><div class="text-left"><span class="badge">2</span> ส่งสำเนาคำพิพากษา</div></button>
                    <button type="button" class="btn btn-success btn-block" ng-click="go('court.cases.form3',$it);$hide()"><div class="text-left"><span class="badge">3</span> Upload คำพิพากษา</div></button>
                    <button type="button" class="btn btn-success btn-block" ng-click="go('court.cases.form4',$it);$hide()"><div class="text-left"><span class="badge">4</span> ระบบติดตาม</div></button>
                </p>
            </div>
        </div>
    </script>

    <div ng-controller="CourtReportCtrl">

        <div ui-view></div>


        <div ng-hide="!urlEq('/court/cases')">
            <div class="panel panel-default" ng-controller="CustomTableCtrl as ctb" ng-init="setAPI('court_cases','custom.court.form1.html',{search:'searchText', court:'searchCourt', month:'searchMonth', year:'searchYear'},{court:true, month:true,year:true})">
                <div class="panel-heading">
                    <div class="text-right pull-right">
                        <button class="btn btn-success" ng-show="isSearchMode()" ng-click="setFilter()">
                            <span class="glyphicon glyphicon-arrow-left"></span> ออกจากโหมดการค้นหา
                        </button>
                        <button class="btn btn-info" ng-click="advancedSearch('custom.cases.search.html')">
                            <span class="glyphicon glyphicon-search"></span> ค้นหา
                        </button>
                        <button ng-click="newItem({date_sent:today()})" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> เพิ่มคดี</button>
                        <button ng-click="editItem()" ng-show="hasSelected()" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> แก้ไขคดี</button>
                        <button data-placement="bottom" data-trigger="click" bs-popover  data-template="custom.confirm.popover.html"
                                ng-click="removeItem()" ng-show="hasSelected()" class="btn btn-danger" data-auto-close="true">
                            <span class="glyphicon glyphicon-remove"></span> ลบคดี
                        </button>
                        <button ng-click="refresh()" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> โหลดข้อมูล</button>

                    </div>
                    <h2 style="padding:0px;margin:0px;"><span class="fa fa-windows"></span> รายงานคดี ({{tableParams.total()}})</h2>

                </div>

                <div class="panel-body" style="padding-bottom:0px;">

                    <div loading-container="tableParams.settings().$loading">
                        <div ng-show="!isSearchMode()">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon  adon-label">ศาล</div>
                                <input type="text" ng-init="searchCourt=getUser().id" class="form-control" value="{{getUser().name}}" ng-readonly="true" style="background-color:#ffffff">

                                <div class="input-group-addon  adon-label">เดือน</div>



                                <select class="form-control" ng-model="searchMonth" ng-change="setFilter()" select-value-type="string" ng-options="it.id as it.name for it in Lookups.getMonth()"></select>
                                <div class="input-group-addon  adon-label">พ.ศ</div>
                                <select class="form-control" ng-model="searchYear" ng-change="setFilter()" select-value-type="string" ng-options="it.id as it.name for it in Lookups.getYear()"></select>
                                <div class="input-group-addon btn btn-default" ng-click="setFilter(true)" title="เริ่มค้นหา"><span class="glyphicon glyphicon-refresh"></span></div>
                            </div>
                            <hr />
                        </div>
                        <table ng-table="tableParams" show-filter="false" class="table table-hover table-bordered" template-pagination="custom.pages.html">
                            <tbody>

                                <tr ng-repeat="it in $data"
                                    ng-click="selectRow(it);"
                                    ng-dblclick="editItem()"
                                    ng-class="{'active': isSelected(it)}">
                                    <td width="30" class="text-right text-muted"><span title="#{{it.id}}">{{startIdx + $index + 1}}.</span></td>
  
                                    <td data-title="'เลขคดีดำ'" sortable="'number_black'">
                                        {{it.number_black}}
                                    </td</span>

                                    <td data-title="'เลขคดีแดง'" sortable="'number_red'">
                                        {{it.number_red}}

                                    </td>
                                    <td data-title="'โจทก์'" sortable="'plaintiff'">
                                        {{it.plaintiff}}

                                    </td>
                                    <td data-title="'จำเลย'" sortable="'defendant'">
                                        {{it.defendant}}

                                    </td>
                                    <td data-title="'ข้อหาหลัก'" sortable="'title'">
                                        {{it.title}}

                                    </td>
                                    <td data-title="'ผลการส่งรายงานดดี'" sortable="'ressult'">
                                        {{it.comment_id | lookup_at }}

                                    </td>
                                    <td data-title="'ผลการปฏิบัติ(ภาค)'" sortable="'date_sent'">
                                        {{it.result | lookup_result}}

                                    </td>
                                    <td data-title="'ไฟล์ร่าง/คำพิพากษา'">
                                        <a ng-if="it.file1" href="{{open_pdf(it.file1)}}" target="_bank"><span title="สำเนาตรวจร่าง {{it.file1}}" class="fa fa-file-o"></span></a>
                                        <a ng-if="it.file2" href="{{open_pdf(it.file2)}}" target="_bank"><span title="สำเนาคำพิพากษา {{it.file2}}" class="fa fa-file-pdf-o"></span></a>

                                        <span ng-if="isSelected(it)" title="เลือกทำรายการ" class="pull-right">
                                            <button class="btn btn-success btn-circle btn-xs" data-placement="left" data-trigger="click" bs-popover data-template="custom.confirm.court.report.html"
                                                    data-auto-close="true">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>



