<h1 class="page-header text-center">
รายงาน
</h1>


<div class="row">

      <div class="col-md-6 col-lg-4">
            <a href="#court/reports/report1">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานการจัดส่งคดี</h4>
            </a>
      </div>
      <div class="col-md-6 col-lg-4">
            <a href="#court/reports/report3">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานคดีค้างส่งสำนวน</h4>
            </a>
      </div>
      <div class="col-md-6 col-lg-4">
            <a href="#court/reports/report4">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานคดีค้างส่งสำเราคำพิพากษา</h4>
            </a>
      </div>      
      <div class="col-md-6 col-lg-4">
            <a href="#court/reports/report2">
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-print"></span>
                </h1>
                <h4 class="text-center text-primary">รายงานการจัดส่งสำนวนเพื่อตรวจร่างคำพิพากษา</h4>
            </a>
      </div>            
        <div class="col-md-6 col-lg-4">
            <a href="#court/menu">
                <h1 class="text-center">	
                    <span class="glyphicon glyphicon-th-large"></span>
                </h1>
                <h4 class="text-center text-primary">เมนูหลัก</h4>
            </a>
        </div>
</div>

