

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center" style="margin-top:6px">ส่งสำนวนและคำพิพากษาเพื่อตรวจร่าง {{editingItem.user_id | lookup_court}}</h2>
    </div>

    <div class="panel-body" style="padding-bottom:0px;">

        <form class="readonly form form-horizontal" name="form" style="padding-top:25px;padding-bottom:50px;">
            <fieldset>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">เลขดำ</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.number_black}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">วันที่รับฟ้อง</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.date_case | thai_date}}">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">โจทก์</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.plaintiff}}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">จำเลย</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.defendant}}">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ประเภทคดี</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.type_id | lookup_type:'name':true}} - {{editingItem.type_id | lookup_type}}">
                    </div>
                </div>
                <div class="row clearfix"></div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4">ข้อหาพิมพ์ปก</label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control input-md" value="{{editingItem.title}}">
                    </div>
                </div>
                    <div class="form-group col-md-6 ">
                        <label class="control-label col-md-4">ข้อหาสถิติ</label>
                        <div class="col-md-8">
                            <custom-readonly-topics  ng-model="editingItem.topic_ids"></custom-readonly-topics>
                        </div>
                        
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label col-md-4">ผลการส่งรายงานคดี</label>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control input-md" value="{{editingItem.command_id | lookup_at}}">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-md-4">ผลการปฏิบัติ (ภาค)</label>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control input-md" value="{{editingItem.result | lookup_result}}">
                        </div>
                    </div>


                    <div class="row clearfix">

                    </div>
                    <hr />
                    <div class="form-group col-md-6 has-feedback custom-dropdown">
                        <label class="control-label col-md-4 text-required">ผู้พิพากษาเจ้าของสำนวน</label>
                        <div class="col-md-8">
                            <div custom-dropdown class="form-control input-md" ng-model="editingItem.judge_id" data-options="judge_court_options"></div>
                            <span class="form-control-feedback"><span class="caret"></span></span>
                         </div>
                    </div>
                    <div class="form-group col-md-6 has-feedback custom-dropdown">
                        <label class="control-label col-md-4 text-required">องค์คณะ</label>
                        <div class="col-md-8">
                                <div custom-dropdown class="form-control input-md"   ng-model="editingItem.judge3_id" data-options="judge_court_options"></div>
                                <span class="form-control-feedback" ><span class="caret"></span></span>
                        </div>
                    </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 text-required">จำเลยต้องขัง</label>
                    <div class="col-md-8">

                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.imprison_id" select-default ng-options="it.id as it.name for it  in Lookups.getImprison()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-imprison" ng-click="popupImprison()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 text-required">จำเลยสารภาพ</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control input-md" name="role" ng-model="editingItem.accept_id" select-default ng-options="it.id as it.name for it  in Lookups.getAccept()">
                                <option value=""></option>
                            </select>
                            <span class="input-group-addon btn" id="add-accept" ng-click="popupAccept()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 text-required">วันที่นัดฟังคำพิพากษา</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_ap" placeholder="ยังไม่มีข้อมูล" custom-date-field></span> 
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 text-required">วันที่ส่งสำนวน</label>
                    <div class="col-md-8">
                        <span mode="0" ng-model="editingItem.date_sent2" placeholder="ยังไม่มีข้อมูล" custom-date-field></span> 
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 text-required">เลขที่หนังสือออก(ส่งสำนวน)</label>
                    <div class="col-md-8">
                        <input type="text"  class="form-control input-md" ng-model="editingItem.number_sent2">
                    </div>
                </div>
                <div class="row clearfix"></div>
                <div class="form-group">
                    <label class="control-label col-md-2">หมายเหตุ</label>
                    <div class="col-md-9">
                        <textarea  rows="3" class="form-control" ng-model="editingItem.note2"></textarea>
                    </div>
                </div>


            </fieldset>
            <div class="col-md-10 col-md-offset-2" ng-hide="isValid1(editingItem)">
                <div class="help-block">

                    <p class="text-info" >
                        <span class="glyphicon glyphicon-question-sign pull-left"></span>
                        <ul>
                            <li  class="text-warning">* ข้อมูลที่บังคับให้ต้องป้อนก่อน จึงจะสามารถบันทึกข้อมูลได้</li>

                        </ul>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <button type="button" ng-disabled="!isValid1(editingItem)" class="btn btn-success btn-block" ng-click="saveForm(editingItem,1)"><span class="fa fa-save"></span> บันทึกข้อมูล</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" ng-click="goBack()"><span class="fa fa-close"></span> ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>





