<style"custom.pages.html"
	table tr td{
		vertical-align:middle;
	}
</style>

    <div ng-controller="CourtReportCtrl" data-prefix="c2">

        <div ui-view></div>

        <div ng-hide="!(urlEq('/court/vcases') || urlEq('/court/vcases/notify'))">
            <div class="panel panel-default" ng-controller="CustomTableCtrl as cmt" ng-init="$parent.cmt=cmt;setAPI('court_cases','custom.court.form1.html',{date_received:'searchDate',_view:'_view()',type_id:'searchType'})">
                <div class="panel-heading">
                    <div class="text-right pull-right" style="position:relative;top:-0.6em">
                        <span class="btn btn-notify" ng-click="notify()"><img src="images/notify2.png" title="สำนวนไม่ได้จัดส่ง" /><span class="badge badge-notify">{{TableMeta.notsent || 0}}</span></span>
                        <span class="btn btn-notify" ng-click="notify2()" style="padding-right:3em"><img  src="images/notify1.png" title="สำเนาคำพิพากษาไม่ได้จัดส่ง" /><span class="badge badge-notify">{{TableMeta.notsent2 || 0}}</span></span>
                        <span ng-hide="urlEq('/court/vcases/notify')">
                            <button class="btn btn-success" ng-show="isSearchMode()" ng-click="setFilter()">
                                <span class="glyphicon glyphicon-arrow-left"></span> ออกจากโหมดการค้นหา
                            </button>
                            <button class="btn btn-info" ng-click="advancedSearch('custom.cases.search.html',{_view:true})">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>
                        </span>
                    </div>
                    <h2 style="padding:0px;margin:0px;"><span class="fa fa-windows"></span> สำนวนและร่าง ({{tableParams.total()}})</h2>

                </div>

                <div class="panel-body" style="padding-bottom:0px;">
                    <div loading-container="tableParams.settings().$loading">
                        <div ng-show="!(isSearchMode() || urlEq('/court/vcases/notify'))">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon"><strong>ประเภทคดี</strong></div>
                                <select class="form-control" style="min-width:450px" ng-model="searchType" ng-change="setTypeId(searchType);setFilter()" select-value-type="string" ng-options="it.id as it.id | lookup_type:'name':'code'  for it in Lookups.getType()"><option value="">ทั้งหมด</option></select>

                                <div class="input-group-addon"><strong>วันที่ภาครับสำนวนคำพิพากษา</strong></div>
                                <span mode="0" ng-model="searchDate" ng-change="setDateId(searchDate);setFilter()" placeholder="แสดงคดีที่รับสำนวนวันที่่" custom-date-field></span>
                                <!--
                            <div class="input-group-addon btn btn-default" ng-click="setFilter(true)" title="เริ่มค้นหา"><span class="glyphicon glyphicon-refresh"></span></div>
                                -->
                            </div>
                            <hr />
                        </div>
                        <div ng-table-menu="tableParams"></div>
                        <table ng-table-resizable ng-table="tableParams" ng-table-init ng-table-init-columns wt-responsive-table show-filter="false" class="table table-hover table-bordered">
                            <tbody>
                                <tr ng-repeat="it in $data"
                                    ng-click="selectRow(it);"
                                    ng-class="{'active': isSelected(it),'text-red':it.no_case_sent=='1'}" ng-init="it._days=date_diff(it.date_ap, it.date_received3)">
                                    <td width="30" class="text-right text-muted"><span title="#{{it.id}}">{{startIdx + $index + 1}}.</span></td>
                                    <td data-title="'เลขรับสำนวนของภาค'" sortable="'auto_received_num'">
                                        {{it.auto_received_num}}
                                    </td>
                                    <td data-title="'เลขคดีดำ'" sortable="'number_black'">
                                        {{it.number_black}}
                                    </td>
                                    <td data-title="'เลขคดีแดง'" sortable="'number_red'">
                                        {{it.number_red}}
                                    </td>
                                    <td data-title="'โจทก์'" sortable="'plaintiff'">
                                        {{it.plaintiff}}
                                    </td>
                                    <td data-title="'จำเลย'" sortable="'defendant'">
                                        {{it.defendant}}
                                    </td>
                                    <td data-title="'ข้อหาสถิติ'" sortable="'topic_ids'">
                                        {{it.topic_ids | lookup_topic}}
                                    </td>
                                    <td data-title="'ผลการส่งรายงานดดี'" sortable="'command_id'">
                                        {{it.command_id | lookup_at }}
                                    </td>
                                    <td data-title="'ผลการปฏิบัติ(ภาค)'" sortable="'result'">
                                        {{it.result | lookup_result}}
                                    </td>
                                    <td data-title="'วันที่ส่งสำนวน'" sortable="'date_sent2'">
                                        {{it.date_sent2 | thai_date:'short'}}
                                    </td>
                                    <td data-title="'วันที่ภาครับสำนวน'" sortable="'date_received3'">
                                        {{it.date_received3 | thai_date:'short'}}
                                    </td>
                                    <td data-title="'นัดฟังคำพิพากษา'" sortable="'date_ap'">
                                        {{it.date_ap | thai_date:'short'}}
                                    </td>
                                    <td data-title="'ส่งตามกำหนด(ก่อน '+BDAYS+' วัน)'" class="text-center">
                                        <span ng-if="it._days<BDAYS && it.date_ap && it.date_received3">ช้า ({{it._days | math_abs}} วัน)</span>
                                        <span ng-if="it._days>=BDAYS">ไม่ช้า ({{it._days}} วัน)</span>

                                        <span ng-if="isSelected(it)" title="เลือกทำรายการ" class="row-action pull-right">
                                            <button class="btn btn-success btn-circle btn-xs" data-placement="left" data-trigger="click" bs-popover data-template="custom.confirm.court.actions2.html"
                                                    data-auto-close="true">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>



