<h2 class="page-header text-center" style="border-bottom:none">
    ระบบสารสนเทศการรายงานคดีและติดตามสำนวนที่ส่งตรวจร่างคำพิพากษา<br />
    <small>สำนักงานอธิบดีผู้พิพากษาภาค 5</small>
</h2>
<div clss="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="list-group panel">
            <div class="list-group-item panel-heading">
                <h4 class="text-center"><i class="fa fa-user fa-3x"></i><br />ล็อกอินเข้าเข้าใช้งาน</h4>
            </div>
            <div class="list-group-item panel-body" style="padding-left:8em;padding-right:8em">
                <form class="form" ng-controller="LoginCtrl">
                    <div class="alert alert-danger" ng-show="alert">
                        <h4 class="text-center"  style="pading:0x; margin:0px">                        
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMessage}}
                        </h4>
                    </div>
                    <fieldset ng-disabled="checking">
                        <div class="form-group">
                            <label>ชื่อผู้ใช้</label>
                            <input type="text" autofocus ng-model="userid" placeholder="ป้อนชื่อผู้ใช้" class="form-control input-lg text-center" />
                        </div>
                        <div class="form-group">
                            <label>รหัสผ่าน</label>
                            <input type="password" ng-model="password" placeholder="ป้อนรหัสผ่าน" class="form-control input-lg text-center" />
                        </div>
                        <p class="text-left">
                            <button id="login-button" type="submit" ng-disabled="!(userid && password)" ng-click="login()" class="btn btn-success btn-block btn-lg"><span ng-if="checking"><i class="fa fa-spinner fa-pulse fa-lg"></i> กำลังตรวจสอบ...</span><span ng-if="!checking">เข้าใช้งาน</span></button>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p class="text-center text-muted">
        &copy;2015 โดยส่วนเทคโนยีสารสนเทศ สำนักศาลยุติธรรมประจำภาค 5
    </p>
</div>