<div class="popover" style="min-width:400px">
    <div class="arrow"></div>
    <h3 class="popover-title"><span class="glyphicon glyphicon-share"></span> <strong>สรุปรายงานคดี</strong></h3>
    <div class="popover-content" style="padding-top:2em;padding-bottom:2em">
        <a href="#admin/reports/report4" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานการส่งสำนวนเพื่อตรวจร่างคำพิพากษาประจำวัน
        </a>
        <a href="#admin/reports/report5" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานข้อมูลการส่งสำนวนและร่างคำพิพากษา<br />ของศาลในภาค 5 (ประจำเดือน)
        </a>
        <a href="#admin/reports/report6" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปการส่งสำนวนและร่างคำพิพากษา<br />ศาลในภาค 5(ประจำเดือน)
        </a>
        <a href="#admin/reports/report7" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานสำนวนที่ไม่ได้ส่งสำเนาคำพิพากษา
        </a>
        <a href="#admin/reports/report8" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานคดีที่ไม่ได้ส่งสำนวน
        </a>
        <hr/>
        <a href="#admin/reports/report11" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่างคำพิพากษา
        </a>        
        <a href="#admin/reports/report12" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สำนวนคดีส่งตรวจที่ไม่เป็นไปตามระเบียบ
        </a> 
        <a href="#admin/reports/report13" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่าง (รอง อธ.)
        </a> 
        <a href="#admin/reports/report14" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่าง (หัวหน้าภาค)
        </a>                                       
    </div>
</div>