<div class="popover" style="min-width:400px">
    <div class="arrow"></div>
    <h3 class="popover-title"><span class="glyphicon glyphicon-share"></span> <strong>สรุปรายงานคดี</strong></h3>
    <div class="popover-content" style="padding-top:2em;padding-bottom:2em">
        <a href="#admin/reports/report1" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปปริมาณรายงานคดีของศาลในภาค 5
        </a>
        <a href="#admin/reports/report2" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปรายงานคดีแยกเป็นรายศาล
        </a>
        <a href="#admin/reports/report9" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปประเภทคดีที่ศาลรายงานมายังสำนักงาน<br />อธิบดีผู้พิพากษาภาค 5 (เดือน)
        </a>
        <a href="#admin/reports/report10" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปประเภทคดีที่ศาลรายงานมายังสำนักงาน<br />อธิบดีผู้พิพากษาภาค 5 (ปี)
        </a>
    </div>
</div>