<div class="popover" style="min-width:400px">
    <div class="arrow"></div>
    <h3 class="popover-title"><span class="glyphicon glyphicon-share"></span> <strong>สรุปรายงานคดี</strong></h3>
    <div class="popover-content" style="padding-top:2em;padding-bottom:2em">
        <button ng-click="$hide();setReport('views/admin_print_report4.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานการส่งสำนวนเพื่อตรวจร่างคำพิพากษาประจำวัน
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report5.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานข้อมูลการส่งสำนวนและร่างคำพิพากษา<br />ของศาลในภาค 5 (ประจำเดือน)
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report6.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปการส่งสำนวนและร่างคำพิพากษา<br />ศาลในภาค 5(ประจำเดือน)
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report7.html')" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานสำนวนที่ไม่ได้ส่งสำเนาคำพิพากษา
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report8.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานคดีที่ไม่ได้ส่งสำนวน
        </button>
        <hr/>
        <button ng-click="$hide();setReport('views/admin_print_report11.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่างคำพิพากษา
        </button>        
        <button ng-click="$hide();setReport('views/admin_print_report12.html')" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สำนวนคดีส่งตรวจที่ไม่เป็นไปตามระเบียบ
        </button> 
        <button ng-click="$hide();setReport('views/admin_print_report13.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่าง (รอง อธ.)
        </button> 
        <button ng-click="$hide();setReport('views/admin_print_report14.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> รายงานระยะเวลาการตรวจสำนวนและร่าง (หัวหน้าภาค)
        </button>                                       
    </div>
</div>