<div class="popover" style="min-width:400px">
    <div class="arrow"></div>
    <h3 class="popover-title"><span class="glyphicon glyphicon-share"></span> <strong>สรุปรายงานคดี</strong></h3>
    <div class="popover-content" style="padding-top:2em;padding-bottom:2em">
        <button ng-click="$hide();setReport('views/admin_print_report1.html')"   class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปปริมาณรายงานคดีของศาลในภาค 5
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report2.html')"   class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปรายงานคดีแยกเป็นรายศาล
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report9.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปประเภทคดีที่ศาลรายงานมายังสำนักงาน<br />อธิบดีผู้พิพากษาภาค 5 (เดือน)
        </button>
        <button ng-click="$hide();setReport('views/admin_print_report10.html')"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-print"></span> สรุปประเภทคดีที่ศาลรายงานมายังสำนักงาน<br />อธิบดีผู้พิพากษาภาค 5 (ปี)
        </button>
    </div>
</div>