<div class="popover" style="min-width:300px">
    <div class="arrow"></div>
    <h3 class="popover-title"><span class="glyphicon glyphicon-share"></span> <strong>เลือกทำรายการ</strong></h3>
    <div class="popover-content">
        <p class="text-center">
            <button type="button" ng-disabled="vcaseAdminForm($it)<2" class="btn btn-info btn-block" ng-click="go('admin.vcases.form2',$it);$hide()"><div class="text-left"><span class="badge">2</span> รับสำนวนและร่าง</div></button>
            <button type="button" ng-disabled="vcaseAdminForm($it)<2" class="btn btn-info btn-block" ng-click="go('admin.vcases.form3',$it);$hide()"><div class="text-left"><span class="badge">3</span> จ่ายสำนวนเพื่อตรวจร่างคำพิพากษา</div></button>
            <button type="button" ng-disabled="vcaseAdminForm($it)<2" class="btn btn-info btn-block" ng-click="go('admin.vcases.form4',$it);$hide()"><div class="text-left"><span class="badge">4</span> ส่งสำนวนและร่างคำพิพากษาคืนศาล</div></button>
            <button type="button" ng-disabled="!(vcaseAdminForm($it)>0)" class="btn btn-info btn-block" ng-click="go('admin.vcases.form5',$it);$hide()"><div class="text-left"><span class="badge">5</span> รับสำเนาคำพิพากษา</div></button>

            <button type="button" ng-if="($it.number_black && $it.date_received3)" class="btn btn-success btn-block" ng-click="printCover($it);$hide()"><div class="text-left"><span class="glyphicon glyphicon-print"></span> พิมพ์ปกสำนวน</div></button>
        </p>
    </div>
</div>