<div class="popover" style="min-width:350px">
    <div class="arrow"></div>
    <h3 class="popover-title text-center text-danger"><strong>ยืนยันการลบเลขรับสำนวน</strong></h3>
    <div class="popover-content">
        <p class="text-center">
            <button type="button" class="btn btn-danger btn-min" ng-click="clearRunNumber2(editingItem);$hide()"><span class="glyphicon glyphicon-remove"></span> ลบ</button>
            <button type="button" class="btn btn-primary btn-min" ng-click="$hide()"><span class="glyphicon glyphicon-ok"></span> ยกเลิก</button>
        </p>
    </div>
</div>