<div class="popover" style="min-width:300px">
    <div class="arrow"></div>
    <h3 class="popover-title text-center text-danger"><strong>ยืนยันการลบข้อมูล</strong></h3>
    <div class="popover-content">
        <p class="text-center">
            <button type="button" class="btn btn-danger" ng-click="doRemove();$hide()"><span class="glyphicon glyphicon-remove"></span> ลบข้อมูล</button>
            <button type="button" class="btn btn-primary" ng-click="$hide()"><span class="glyphicon glyphicon-ok"></span> ยกเลิก</button>
        </p>
    </div>
</div>