<div class="popover" style="min-width:320px;">
    <div class="arrow"></div>
    <h3 class="popover-title text-center" style="font-size:1.3em"><strong>ยืนยันการออกจากระบบ</strong></h3>
    <div class="popover-content" style="padding-top:2em;padding-bottom:2em">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-warning" ng-click="logOut(false);$hide()"><span class="glyphicon glyphicon-off"></span> ออกจากระบบ</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-info" ng-click="$hide()"><span class="glyphicon glyphicon-remove"></span> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>