<div class="popover" style="min-width:350px;max-width:80%">
    <div class="arrow"></div>
    <div class="popover-title">
        <button type="button" title="Close" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4><i class="fa fa-windows"></i> ป้อนเลขคดี</h4>
    </div>
    <div class="popover-content">
        <form class="xform" style="padding:10px; max-width:480px">
            <div class="form-group">
                <label class="control-label">เลขคดีดำ</label>
                <div class="input-group" ng-init="temp.year=getBlkYear(editingItem)">
                    <span class="input-group-addon">{{editingItem.type_id | lookup_type:'code'}}</span>
                    <input type="text" maxlength="10" placeholder="เลขคดีเช่น 823" class="form-control" ng-model="temp.number_black">
                    <span class="input-group-addon">/</span>
                    <input type="text" maxlength="4" placeholder="ปีเช่น 2558" class="form-control" ng-readonly="temp.year.length==4" ng-model="temp.year" bs-options="year for year in years" bs-typeahead>
                    <span class="input-group-addon btn btn-danger" title="ลบเลขคดี" style="color:#ffffff" ng-click="clearBlackNumber(temp);">
                        <span class="glyphicon glyphicon-repeat"></span> ลบเลขคดี
                    </span>

                </div>

                <div class="text-center text-primary" style="margin-top:2em" ng-show="temp.number_black && temp.year">
                    ตัวอย่างเลขที่ได้:
                    <h3 class="text-center text-primary">
                        {{editingItem.type_id | lookup_type:'code'}}{{temp.number_black}}<span ng-show="temp.year">/</span>{{temp.year}}
                    </h3>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">


        <button type="button" class="btn btn-success btn-min" ng-click="setBlackNumber(temp,$hide);"><span class="glyphicon glyphicon-ok-sign"></span> ตกลง</button>
        <button type="button" class="btn btn-warning btn-min" ng-click="$hide()"><span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก</button>
    </div>
</div>